:host {
  display: flex;
  flex-direction: column;
  padding: 0 350px;

  @media (min-width: 1280px) and (max-width: 1919px) {
    padding: 0 250px
  }
  @media (min-width: 600px) and (max-width: 1279px) {
    padding: 0 100px
  }
  @media (max-width: 599px) {
    padding: 0;
  }
}

.mat-form-field {
  display: block;
}

li {
  display: inline-block;
  margin: 0 6px;
}
