$font-family: 'Roboto', sans-serif;

$font-size-normal: 14px;
$font-size-large: 20px;
$font-size-heading: 28px;
$font-size-hero: 40px;

$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;

$spacing-vertical: 12px;
