<div fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="showRegister" style="width: 90%">
    <form fxLayout="column" [formGroup]="registerFormGroup" (ngSubmit)="onSubmitRegisterForm()">

      <mat-input-container floatPlaceholder="auto">
        <input matInput type="text" formControlName="email" placeholder="Email">
        <mat-error *ngIf="registerFormGroup.get('email')?.errors?.required">
          Email is required
        </mat-error>
        <mat-error *ngIf="registerFormGroup.get('email')?.errors?.email && !registerFormGroup.get('email')?.errors?.required">
          Email is not in correct format
        </mat-error>
      </mat-input-container>

      <mat-input-container floatPlaceholder="auto">
        <input matInput formControlName="password" placeholder="Password" type="Password">
        <mat-error>Password is required</mat-error>
      </mat-input-container>

      <mat-input-container floatPlaceholder="auto">
        <input matInput formControlName="confirmPassword" placeholder="Confirm password" type="Password">
        <mat-error>Passwords don't match! D:</mat-error>
      </mat-input-container>

      <button mat-raised-button type="submit" color="primary">register</button>

    </form>
  </div>
  <div *ngIf="!showRegister" style="width: 90%">
    <form fxLayout="column" [formGroup]="loginFormGroup" (ngSubmit)="onSubmitLoginForm()">

      <mat-input-container floatPlaceholder="auto">
        <input matInput type="text" formControlName="email" placeholder="Email">
        <mat-error>Email is required</mat-error>
      </mat-input-container>

      <mat-input-container floatPlaceholder="auto">
        <input matInput formControlName="password" placeholder="Password" type="Password">
        <mat-error>Password is required</mat-error>
      </mat-input-container>

      <br>

      <button mat-raised-button type="submit" color="primary">login</button>
    </form>
  </div>
</div>
